[Unit]
Description=node-oneshots: serving server-side scriplets written in JavaScript for Node.js
After=network.target

[Service]
ExecStart=/usr/bin/node --harmony /usr/local/lib/node-oneshots/core.js
Restart=always

[Install]
WantedBy=multi-user.target
